<h1>My tasks</h1>
<p>This is the tasks view</p>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box("completed", task.id, {checked: task.completed}) %>
      <%= link_to task[:title], task_path(task) %>

      <%= link_to destroy_path(task), method: :delete do %>
          <i class="fas fa-trash"></i>
          <!-- insert whatever you want -->
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a task", new_path %>
