<h1>My tasks</h1>
<hr>

<div class="card">
  <% @tasks.each do |task| %>
    <p class="tasks justify-content-between">
      <%= check_box("completed", task.id, {checked: task.completed}) %>
      <%= link_to task[:title], task_path(task) %>

      <%= link_to destroy_path(task), method: :delete do %>
          <i class="fas fa-trash"></i>
          <!-- insert whatever you want -->
      <% end %>
    </p>
  <% end %>
</div>


<%= link_to "Create a task", new_path, class: "btn btn-sm btn-primary" %>
